/* ==============================
TABLE OF CONTENTS 

1. Global Styles

2. Typography

3. Layout

  3.1 Header

  3.2 Navigation

  3.3 Main

  3.4 Footer

  3.5 Page Elements

4. Components

  4.1 Buttons

5. Media Queries

================================= */

/* Colors: burg - #5c322d */

/* ================================= 
  || 1. Global Styles
==================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: #442522;
}

a:hover {
  text-decoration: underline;
}

.nav__display-none {
  display: none;
}

.nav__display-flex {
  display: flex;
}

.break-long-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

/* ================================= 
  || 2. Typography
==================================== */

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 30px;
  letter-spacing: 2px;
}

h3 {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 600;
}

h4 {
  margin: 0;
  font-weight: 400;
}

/* ================================= 
  || 3. Layout
==================================== */

/* ---- 3.1 Header ---- */

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 1em auto;
}

.title-wrapper__heading {
  padding-left: .5em;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 2rem;
}

.logo {
  width: 40px;
  margin-right: 1em;
}

/* ---- 3.2 Navigation ---- */

nav {
  height: 50px;
}

.nav-toggle {
  border: none;
  background-color: white;
  width: 50px;
  height: 50px;
  margin-left: 0.5em;
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-toggle img {
  width: 40px;
  height: 40px;
}

.nav {
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: flex;
  justify-content: center;
  background-color: rgb(231, 234, 235);
  width: 72%;
  z-index: 2;
  border-left: 1em solid #2D565B;
}

.nav a {
  color: inherit;
  padding: 0.75em 0;
  width: 100%;
  text-align: center;
}

.nav__item:hover {
  background-color: #2D565B;
  color: white;
}

/* ---- 3.3 Main ---- */

main {
  background-color: rgba(231, 234, 235, 0.2);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4em;
  padding: 0.5em;
}

.heading {
  text-align: center;
  padding: 0.5em;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.sub-heading {
  margin: 0;
  background-color: #442522;
  padding: 0.5em 0;
  color: white;
  text-align: center;
  width: 90%;
  margin: 0.5em auto 0;
}

.margin-left {
  margin-left: 0.5em;
}

.flower-wrapper {
  display: flex;
  align-items: center;
  margin: 1em auto;
  text-align: center;
  width: 99vw;
  max-width: 1200px;
  height: 40px;
  overflow: hidden;
  opacity: 0;
  transform: rotate(2deg);
  transition: opacity 4s, transform 2s;
}

.divider {
  justify-content: center;
}

/* ------------- 3.3.1 About ---- */

.main-wrapper--dark-blue {
  border-left: 0.2em solid #153337;
  border-right: 0.2em solid #153337;
  border-bottom: 0.2em solid #153337;
  background-color: white;
}

.about__heading {
  background-color: #153337;
  color: white;
  margin-top: 1em;
  border-top: .5em solid #442522;
}

.line-height {
  line-height: 2em;
}

.about__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about__photo-container {
  width: 225px;
  height: 260px;
  background-color: rgb(231, 234, 235);
  margin: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.self-photo {
  width: 200px;
  height: auto;
}

.intro-content {
  width: 100%;
  margin: 0;
}


/* probably should take off font-family & color, could also abstract text from about section. More reusable. */

.about__text--large {
  font-weight: 400;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: black;
}

/* .about__text--accent {
  color: #5c322d;
  font-weight: 600;
} */

/* .about-wrapper__hr {
  border-style: none;
  border-top: 0.2em solid black;
  width: 100px;
  margin-top: 3em;
} */

.about__education-wrapper {
  position: relative;
}

.about__school-wrapper {
  border-left: 1em solid rgb(231, 234, 235);
  border-bottom: 1em solid rgb(231, 234, 235);
  width: 90%;
  height: auto;
  padding: 2em 1em;
  margin: 1em;
  line-height: 20px;
  color: black;
  flex-shrink: 0;
}

.about__school-title {
  display: inline-block;
}

.school__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7em;
}

.timeline-wrapper {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(231, 234, 235);
  padding: 0;
}

.timeline {
  height: 2500px;
  position: relative;
  margin: 0 auto;
  padding: 1em;
}

/*creates line*/
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 31px;
  margin-left: -3px;
}

.t-container {
  width: 100%;
  padding-left: 1em;
  margin-bottom: 1em;
  position: relative;
}

/* creates circles */
.t-container::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: -12px;
  background-color: #5c322d;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.t-container--left {
  left: 0%;
}

.t-container--right {
  left: 0%;
}

.t-container--left::after {
  left: 0px;
}

.t-container--right::after {
  left: 0px;
}

.timeline__content-wrapper {
  background-color: #153337;
  padding: 10px;
  border-radius: 6px;
  /* color: white; */
}

.timeline__content--date {
  font-weight: 400;
  text-align: center;
  color: white;
  padding: 0.5em;
}

.timeline__content {
  padding: 20px 30px;
  margin-top: 10px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.skills-wrapper {
  padding: 2em 0;
}

.about__skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.5em 0;
}

.skills-wrapper li {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-align: center;
  color: white;
  width: 110px;
  height: 110px;
  margin: 5px;
  padding-top: 40px;
  background-color: #153337;
  border-radius: 200px;
}

.main-wrapper--light-blue {
  border-left: 0.8em solid #2d565b;
  border-right: 0.8em solid #2d565b;
  border-bottom: 0.8em solid #2d565b;
  background-color: white;
}

.project__select {
  margin-bottom: 1em;
}

.project-title {
  text-align: center;
  background-color: rgb(231, 234, 235);
  margin: 0;
  padding: 1em;

}

.projects__project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: .5em solid #5c322d;
  margin-bottom: 2em;
  background-color: white;
}

.projects__project-wrapper a {
  text-align: center;
}

.projects {
  background-color: white;
}

.projects__heading {
  background-color: #153337;
  color: white;
}

.projects h4 {
  background-color: #E7EAEB;
  padding: 0.25em;
  text-align: center;
}

.project-content {
  padding: 1em;
}

.project__thumbnail {
  width: 80%;
  padding: 0.5em;
  margin: 1em 0;
  border: 0.5em solid rgb(231, 234, 235);
}

/*thumbnail overlay, in progress*/
/* 
.img-wrapper{
  background-color: red;
  width: 80%;
position: relative;
}

.img-wrapper::before {
  content: "Test";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.github-icon {
  font-size: 35px;
  color: #153337;
}

.contact {
  text-align: center;
}

.contact__form-wrapper {
  border: 0.8em solid #153337;
  background-color: #2d565b;
  color: white;
}

.contact__heading {
  background-color: #2d565b;
  color: white;
}

.contact__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/* ---- 3.4 Footer ---- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #153337;
  color: white;
  padding: 1em 0;
}

.footer__content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__author-info {
  text-align: center;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__nav a {
  color: white;
  font-size: 1.25rem;
  text-decoration: underline;
}

.footer__link {
  padding: 0.5em;
}


.footer__logo-wrapper {
  width: 100px;
  height: 100px;
  padding: 1em;
  margin: 0 auto;
  margin-top: 1em;
  background-color: white;
  border-radius: 50%;
}

.footer__logo {
  width: 100%;
  height: auto;
}

/* ---- 3.5 Page Elements ---- */

.flower-wrapper__image {
  width: 12%;
  height: 1%;
  margin: 0 5%;
}

.flower--small {
  width: 40px;
}

.flower--inline-block {
  display: inline-block;
}

.flower-svg {
  width: 30px;
  height: 30px;
}

.leaf-svg {
  width: 15px;
  height: 35px;
}

/* ================================= 
  || 4. Components
==================================== */

/* ---- 4.1 Buttons ---- */

.scroll-to-top-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  opacity: 0;
}

.scroll-to-top-btn img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.4);
  background-color: white;
  opacity: 0.7;
  filter: alpha(opacity=50);
  zoom: 1;
}

.scroll-appear {
  opacity: 1;
  transition: opacity 2s;
}

.scroll-to-top-btn img:active {
  background-color: #2D565B;
}


/* ================================= 
  || 5. Media Queries
==================================== */

@media (min-width: 600px) {

  h1 {
    font-size: 60px;
  }

  button {
    font-size: 18px;
  }

  header {
    margin-top: 2%;
  }

  .container {
    width: 100%;
  }

  .content-container {
    padding: 2em;
  }

  .title-wrapper__heading {
    margin: 0;
  }

  nav {
    border: none;
    background-color: none;
    height: auto;
  }

  .nav-toggle {
    display: none;
  }

  .nav__display-none {
    display: flex;
  }

  .nav {
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border: none;
    height: auto;
  }

  .nav__item {
    border: 0;
    border-radius: 0px;
    width: 33.3%;
    margin: 1em 0 1em;
  }

  .nav a {
    padding: 0.75em 1.25em;
    border: 0;
  }

  .about-wrapper__heading {
    padding-bottom: 0.75em;
  }

  .timeline-wrapper {
    height: 600px;
    padding: 0.5em;
  }

  .timeline::after {
    left: 50%;
  }

  .t-container {
    width: 50%;
  }

  .t-container::after {
    width: 40px;
    height: 40px;
  }

  .t-container--left {
    padding-right: 1em;
    padding-left: 0;
  }

  .t-container--right {
    left: 50%;
  }

  .t-container--left::after {
    left: auto;
  }

  .t-container--right::after {
    left: -13px;
  }
 
  .project__thumbnail {
    transition: border-color 0.5s, transform 0.5s;
  }

  .project__thumbnail:hover {
    transform: scale(1.02);
    border-color: #153337;
  }

  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logo-wrapper {
    margin: 0;
  }

}


@media (min-width: 796px) {

  .main-wrapper--dark-blue {
    border-left: 0.8em solid #153337;
    border-right: 0.8em solid #153337;
    border-bottom: 0.8em solid #153337;
  }

  .about__intro {
    flex-direction: row;
  }

  .intro-content {
    width: 60%;
  }

  .school__flex {
    flex-direction: row;
    justify-content: space-around;
  }

  .about__school-wrapper {
    padding-left: 2em;
    width: 350px;
    height: 302px;
  }

  .algorithm__grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
  }
}

@media (min-width: 1025px) {

  header {
    margin-top: 0;
  }

  .nav-button {
    margin: 3% 0;
  }

  .about__school-wrapper {
    padding-left: 2em;
    width: 450px;
    height: 302px;
  }
}