/* ==============================
TABLE OF CONTENTS 

1. Global Styles

2. Typography

3. Layout

  3.1 Header

  3.2 Navigation

  3.3 Main

  3.4 Footer

  3.5 Page Elements

4. Components

  4.1 Buttons

5. Media Queries

================================= */

/* ================================= 
  || 1. Global Styles
==================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ================================= 
  || 2. Typography
==================================== */

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

h1 {
  font-size: 13vw;
  letter-spacing: 5px;
}

h2 {
  font-size: 30px;
  letter-spacing: 2px;
}

h3 {
  font-size: 22px;
  letter-spacing: 2px;
}

/* ================================= 
  || 3. Layout
==================================== */

/* ---- 3.1 Header ---- */

.title-wrapper {
  margin-top: 8%;
  margin-bottom: 8%;
  text-align: center;
}

.flower-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}

/* ---- 3.2 Navigation ---- */

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
}

.nav__item {
  margin-top: 2em;
  background-color: #2d565b;
  width: 72%;
  border: 0.2em solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.nav a {
  padding: 0.75em 5em;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* Fix UI issue: Problem, background color changes when hovering over an unclickable space within nav-item.
    Fix with JS - when hovering over .nav a, turn nav-item background darker color.  */
.nav__item:hover {
  background-color: #153337;
}

/* ---- 3.3 Main ---- */

.container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.content-container {
  width: 80%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-weight: 400;
  padding: 0.5em;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

/* ------------- 3.3.1 About ---- */

.about__main-wrapper {
  position: relative;
  margin-bottom: 2em;
  border-left: 0.8em solid #153337;
  border-right: 0.8em solid #153337;
  background-color: rgba(204, 204, 204, 0.3);
}

.about__heading {
  background-color: #153337;
  color: white;
  margin: 1em auto 0.5em;
}

.about__sub-heading {
  background-color: white;
  border-top: 0.15em solid black;
  border-bottom: 0.15em solid black;
  padding: 0.5em;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.about-wrapper__vine-image {
  position: absolute;
  z-index: 1;
}

.about__flower-img {
  top: 0;
  transition: width 2s, height 2s, transform 2s;
  width: 12%;
  height: auto;
  z-index: 1;
  transform: translateX(750%);
  overflow-x: hidden;
}

.school-flower {
  width: 80px;
  top: 200px;
  left: 260px;
}

.leaf {
  width: 8%;
}

.leaf--intro {
  top: 5%;
  transform: rotate(-5deg) translateX(-170%);
  overflow-x: hidden;
}

.leaf--education {
  top: 19%;
  transform: translateX(-150%);
  overflow-x: hidden;
}

.about__intro-wrapper {
  position: relative;
}

/* probably should take off font-family & color, could also abstract text from about section. More reusable. */
.about__text--large {
  font-weight: 400;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  color: black;
}

.about__text--accent {
  color: #5c322d;
  font-weight: 600;
}

.about-wrapper__hr {
  border-style: none;
  border-top: 0.2em solid black;
  width: 100px;
  margin-top: 3em;
}

.about__education-wrapper {
  margin-top: 2em;
  position: relative;
}

.about__flower-img--education {
  top: 0%;
}

.about__school-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  overflow: hidden;
}

.about__school-container {
  background-color: white;
  border: 1.5em solid rgba(45, 86, 91, 0.3);
  width: 350px;
  height: 300px;
  padding: 1em 0 1em 1em;
  line-height: 20px;
  color: black;
  position: relative;
}

.timeline-wrapper {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #153337;
  margin: 1em;
}

.timeline {
  height: 2000px;
  position: relative;
  margin: 0 auto;
  padding: 1em;
}

/*creates line*/
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 31px;
  margin-left: -3px;
}

.t-container {
  width: 100%;
  padding-left: 1em;
  margin-bottom: 1em;
  position: relative;
}

/* creates circles */
.t-container::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: -12px;
  background-color: #5c322d;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.t-container--left {
  left: 0%;
}

.t-container--right {
  left: 0%;
}

.t-container--left::after {
  left: 0px;
}

.t-container--right::after {
  left: 0px;
}

.timeline__content-wrapper {
  background-color: white;

  padding: 10px;
  border-radius: 6px;
}

.timeline__content--date {
  font-weight: 600;
  text-align: center;
}

.timeline__content {
  padding: 20px 30px;
  margin-top: 10px;
  background-color: rgba(45, 86, 91, 0.3);
  position: relative;
  border-radius: 6px;
}

.skill-flower {
  width: 12%;
  display: inline-block;
}

.skills-wrapper {
  padding: 2em 0;
}

.about__skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.5em 0;
}

.skills-wrapper li {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-align: center;
  color: white;
  width: 110px;
  height: 110px;
  margin: 5px;
  padding-top: 40px;
  background-color: #153337;
  border-radius: 200px;
}

.algorithms {
  background-color: white;
}

.algorithms__heading {
  background-color: #5c322d;
  color: white;
  margin: 0 auto;
}

.projects {
  background-color: white;
}

.projects__heading {
  background-color: #153337;
  color: white;
  margin-top: 2em;

}

.contact__form-wrapper {
  border: 0.8em solid #153337;
  background-color: #2d565b;
  color: white;
}

.contact__heading {
  background-color: #5c322d;
  color: white;
  margin-top: 2em;
}

/* ---- 3.4 Footer ---- */

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 22vh;
  background-color: #2d565b;
  color: white;
}

.footer__flex {
  width: 90%;
  margin: 0 auto;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
}

.footer__nav a {
  color: white;
  font-size: 1.25rem;
  text-decoration: underline;
}

.footer__link {
  padding: 0.5em;
}

/* ---- 3.5 Page Elements ---- */

.flower-wrapper__image {
  width: 12%;
  height: 1%;
  margin: 0 5%;
}

/* ================================= 
  || 4. Components
==================================== */

/* ---- 4.1 Buttons ---- */

/* ================================= 
  || 5. Media Queries
==================================== */
/* @media (min-width: 380px) {
  .leaf {
    width: 8%;
    transform: translateX(-64%);
  }

  .leaf--first {
    top: 20%;
  }
} */

@media (min-width: 600px) {
  h1 {
    font-size: 6vw;
  }

  button {
    font-size: 18px;
  }

  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
  }

  .container {
    width: 95%;
  }

  .title-wrapper {
    margin: 0;
  }

  .title-wrapper__heading {
    padding-left: 1em;
    margin: 0 0;
  }

  .flower-wrapper {
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 0;
  }

  .nav {
    flex-direction: row;
    justify-content: center;
  }

  .nav__item {
    border: none;
    border-radius: 0px;
    width: 24%;
    margin-right: -4px;
  }

  .nav a {
    font-size: 18px;
    padding: 0.75em 1.25em;
    border: none;
  }

  .nav__item--border {
    border-top: 0.22em solid black;
    border-bottom: 0.22em solid black;
  }

  .about-wrapper__heading {
    padding-bottom: 0.75em;
  }

  .timeline-wrapper {
    height: 600px;
  }

  .timeline::after {
    left: 50%;
  }

  .t-container {
    width: 50%;
  }

  .t-container::after {
    width: 40px;
    height: 40px;
  }

  .t-container--left {
    padding-right: 1em;
    padding-left: 0;
  }

  .t-container--right {
    left: 50%;
  }

  .t-container--left::after {
    left: auto;
  }

  .t-container--right::after {
    left: -13px;
  }

  .footer__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 796px) {
  h1 {
    font-size: 5vw;
  }

  .about__school-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em 0;
    height: auto;
  }
}

@media (min-width: 1025px) {
  header {
    margin-top: 3%;
  }

  .nav-button {
    margin: 3% 0;
  }
}